<h1>Sign In</h1>
<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
    value="<%=form_authenticity_token%>">
  <label for="email">Email</label>
  <input type="text" name="session[email]" id="email">
  <label for="password">Password</label>
  <input type="password" name="session[password]" id="password">
  <button>Submit</button>
</form>
<br>
<%= button_to "Sign Up", new_user_url, method: :get %>