<h1>Sign Up</h1>
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token"
    value="<%=form_authenticity_token%>">
  <label for="email">Email</label>
  <input type="text" name="user[email]" value="<%=@user.email%>" id="email">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <button>Submit</button>
</form>