<h1>Welcome <%= current_user.email %></h1><br>
<%= link_to "Feed", feed_url%><br>
<p><%= link_to "Create Circle", new_user_circle_url(current_user)%><br></p>
<h2>Your Circles:</h2>
<% current_user.owned_circles.each do |circle| %>
  <%= link_to circle.name, circle_url(circle) %><br>
<% end %><br>

Circles You're In:
<ul>
<% current_user.circles.each do |circle| %>
  <li><%= link_to circle.name, circle_url(circle) %>
  </li>
<% end%>
</ul><br>

Create Post:
<%= button_to "Create Post", new_post_url, method: :get %>