<%= post.body %><br>
Author: <%= post.user.email %><br>
<br>
Links:<br>
<% post.links.each do |link| %>
   Title: <%= link.title%>
   URL: <%= link.url %><br>
<% end %><br>

Post Shared With:<br>
<% post.circles.each do |circle| %>
  <%=circle.name%><br>
<% end %>