<h1>New Post</h1>

<form action="<%= posts_url %>" method="POST">
  <input type="hidden" name="authenticity_token"    
    value="<%=form_authenticity_token%>">
  <textarea name="post[body]"></textarea>
  <h2>Links</h2>
  Link 1
  <label for="link_title_1">Title:</label>
  <input type="text" name="links[1][title]" id="link_title_1">
  <label for="link_url_1">URL:</label>
  <input type="text" name="links[1][url]" id="link_url_1">
  <br>
  Link 2
  <label for="link_title_2">Title:</label>
  <input type="text" name="links[2][title]" id="link_title_2">
  <label for="link_url_2">URL:</label>
  <input type="text" name="links[2][url]" id="link_url_2">
  <br>
  Link 3
  <label for="link_title_3">Title:</label>
  <input type="text" name="links[3][title]" id="link_title_3">
  <label for="link_url_3">URL:</label>
  <input type="text" name="links[3][url]" id="link_url_3">
  <br>
  
  <h2>Share</h2>
  <% current_user.owned_circles.each do |circle| %>
    <label>
      <input type="checkbox" name="post_shares[][circle_id]" 
      value="<%=circle.id%>">
      <%=circle.name%>
    </label>
    <br>
  <% end %>
  <button>Submit</button>
</form>