<form 
action="<%= @circle.persisted? ? circle_url(@circle) : user_circles_url %>"
method="post">
  <input type="hidden" name="authenticity_token" 
         value="<%= form_authenticity_token %>">
  <% if @circle.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
  <label for="name">Name</label>
  <input type="text" id="name" name="circle[name]" value="<%= @circle.name %>">
  <input type="hidden" name="circle[user_ids][]" value="">
  
    <% User.all.each do |user| %>
    <% next if user == current_user%>
    <label>
      <input type="checkbox" name="circle[user_ids][]" value="<%= user.id%>"
       <%= "checked" if @circle.users.include?(user) %>>
      <%= user.email %>
    </label><br>
    <% end %>
    
    <input type="submit" value="Submit">
</form>
    