<h1><%= @circle.name %></h1>
<p><%= link_to "Edit Circle", edit_circle_url(@circle)%> <br>
   <%= link_to "Delete Circle", circle_url(@circle), method: :delete %></p>
<ul>
<% @circle.users.each do |user|%>
  <li>
    <%= user.email %>
  </li>
<% end %>
</ul>