<!DOCTYPE html>
<html>
<head>
  <title>SocialThingamajig</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= render 'errors' %>

<ul>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end%>
</ul>

<% if logged_in? %>
  <%= button_to "Home", user_url(current_user), method: :get%>  
  <%= button_to "Logout", session_url, method: :delete%>
<% end %>
<%= yield %>

</body>
</html>
